@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', system-ui, sans-serif;

  --color-primary: #10b981;    /* emerald */
  --color-secondary: #18181b;  /* near black */
  --color-third: #f4f4f5;      /* zinc light */
}

body {
  font-family: var(--font-sans);
  @apply bg-secondary text-third;
}

/* Used only for previewing colors (VS Code swatches) */
.color-preview-primary   { color: #10b981; }
.color-preview-secondary { color: #18181b; }
.color-preview-third     { color: #f4f4f5; }


/* Background animating stuff */
@keyframes float {
  0%, 100% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-120px) translateX(60px); }
}

.animate-float {
  animation: float 12s ease-in-out infinite;
}

.delay-2000 { animation-delay: 2s; }
.delay-4000 { animation-delay: 4s; }
